<footer class="footer bg-primary">
  <div class="container-sm">
    <div class="row">
      <div class="col-md-4">
        <h3 class="text-white text-center mb-4">About this Site</h3>
        <ul>
          <li>Ownership</li>
          <li>Terms &amp; Conditions</li>
          <li>Pull Requests</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3 class="text-white text-center mb-4" >Wanna Contribute?</h3>
        <i class="fab fa-github fa-6x"></i>
        <i class="fab fa-paypal fa-6x"></i>
        <i class="fab fa-bitcoin fa-6x"></i>
      </div>
      <div class="col-md-4">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, non exercitationem voluptas facere iste vel cumque harum, quas commodi ea earum? Ad ipsam quia dolores consequuntur porro, repellendus saepe commodi! Ullam, cupiditate dolorum quod impedit quos asperiores et, optio quam iusto hic ratione suscipit quis eaque! Quidem neque dolorum consequatur?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        Copyright &copy; 2018 - algoRhythms Studios, Ltd.
      </div>
    </div>
  </div>
</footer>