<footer class="footer bg-primary">
  <div class="container-sm">
    <div class="row">
      <div class="col-md-6">
        <h3 class="text-white">About this Site</h3>
        <ul>
          <li>Ownership</li>
          <li>Terms &amp; Conditions</li>
          <li>Pull Requests</li>
        </ul>
      </div>
      <div class="col-md-6">
        <i class="fab fa-github fa-6x"></i>
        <i class="fab fa-paypal fa-6x"></i>
        <i class="fab fa-bitcoin fa-6x"></i>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        Copyright &copy; 2018 - algoRhythms Studios, Ltd.
      </div>
    </div>
  </div>
</footer>