<section class="section-lead bg-light" id="section-loading">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Loading ...</h1>
          <div class="coffee-mug">
            <div class="coffee-container">
              <div class="coffee"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>