<section class="section section-adblock">
  <div class="alert alert-dismissible alert-danger alert-adblock-detected px-3">
    <h5 id="adblock-message" class="text-center display-4 text-danger pt-3">Adblocker Detected</h5>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p class="lead text-center mx-4 px-4">In order to support the continued development &amp; hosting of this website and to
      unlock the maximum data entities per request, please disable your adblocker. Otherwise, you will be limited to
      1 data entity per request.  Thank you for your support!</p>
    <div class="adblock-buttons">
      <button type="submit" class="btn btn-outline-danger mx-2">No thanks. I'm fine with less data.</button>
      <button type="submit" class="btn btn-success mx-2"> I've Disabled my Adblocker. Let's Retry...</button>
    </div>
  </div>
</section>