<section class="section bg-dark text-white section-output" id="section-results-output">
  <div class="overlay">
    <div class="container">
      <div class="title">
        <h2 class="heading-3 text-center text-white mb-4">Pickup Data Here</h2>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <textarea class="form-control resultsTextArea" placeholder="Your Results" id="results-output">Output goes here.</textarea>
          </div>
        </div>
        <div class="col-md-4">
          <button type="submit" class="btn btn-block btn-option-main"> <i class="far fa-copy fa-2x"></i>
            <br>
            Copy to Clipboard </button>
          <button type="submit" class="btn btn-block btn-option-main"> <i class="fas fa-eraser fa-2x"></i>
            <br> Clear Results</button>
        </div>
      </div>
    </div>
  </div>
</section>