<h1> <%= message %> </h1>

<h2>Cryptographic Data Array</h2>
<ol>
  <% for(var i=0; i < collection.length; i++) { %>

    <li> <%= collection[i] %> </li>

    <% } %>
</ol>
<p> <%= collection %>  </p>
