<header class="hero" id="hero-results">
  <div class="wrapper-hero">
    <div class="content">
      <div class="title">
        <h1 class="hero-heading">Data Results</h1>
        <img src="/img/icon-reverse-coffee17.png" alt="">
        <img src="/img/icon-reverse-code1.png" alt="">
      </div>
    </div>
  </div>
</header>

<section>
  <div class="container">
         <h1 class="text-center mb-4">Your Request</h1>   
    <div class="row">
      <div class="col-md-6">
        <h4>You asked for ...</h4>
        <ul id="list-request" class="list-request">
          <li> <i class="fas fa-check-circle"></i> UUID / Guid</li>
          <li> <i class="fas fa-check-circle"></i> Cryptographic Strength of XXX</li>
          <li> <i class="fas fa-check-circle"></i> Count of 1 (adblocker)</li>
          <li> <i class="fas fa-check-circle"></i> Include Dashes</li>
        </ul>
      </div>
      <div class="col-md-6">
        hello there
      </div>
    </div>
  </div>
</section>

<section class="section bg-dark text-white section-output" id="output-data-guid">
  <div class="overlay">
    <div class="container">
      <div class="title">
        <h2 class="heading-3 text-center text-white mb-4">Pickup Data Here</h2>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <textarea class="form-control resultsTextArea" placeholder="Your Results"></textarea>
          </div>

        </div>
        <div class="col-md-4">
          <button type="submit" class="btn btn-block btn-option-main"> <i class="far fa-copy fa-2x"></i>
            <br>
            Copy to Clipboard </button>
          <button type="submit" class="btn btn-block btn-option-main"> <i class="fas fa-eraser fa-2x"></i>
            <br> Clear Results</button>
        </div>
      </div>
    </div>
  </div>
</section>