<header class="hero" id="hero-results">
  <div class="wrapper-hero">
    <div class="content">
      <div class="title">
        <h1 class="hero-heading">Data Results</h1>
        <img src="/img/icon-reverse-coffee17.png" alt="">
        <img src="/img/icon-reverse-code1.png" alt="">
      </div>
    </div>
  </div>
</header>


<%- include('partials/loading') %>

<%- include('partials/results-receipt') %>

<%- include('partials/results-output') %>


<script>
  $(document).ready(() => {
    $('#section-results-receipt').hide()
    $('#section-results-output').hide()
    setTimeout(() => {
      $('#section-loading').hide();
      $('#section-results-receipt').show();
      $('#section-results-output').show();
      // console.log('in ejs ... ', JSON.parse(sessionStorage.sessionId).sessionId)
      getReceiptForSessionId();
      getResultsForSessionId();
    }, 5000);

    var h = {
      'Accept': 'application/json, text/plain, */*',
      'Content-Type': 'application/json'
    }

    function getReceiptForSessionId() {
      fetch('/results/receipt/' + JSON.parse(sessionStorage.sessionId).sessionId, {
        method: 'GET',
        headers: h
      })
        .then(res => { return res.json() })
        .then(data => {
          console.log(' >>> RESPONSE FROM >>> ', data)
        })
    }

    function getResultsForSessionId() {
      fetch('/results/output/' + JSON.parse(sessionStorage.sessionId).sessionId, {
        method: 'GET',
        headers: h
      })
        .then(res => { return res.json() })
        .then(data => {
          console.log(' >>> RESULTS ROUTE  ', data)
        })

    }


  });
</script>